<section class="gift-card">
    
    <div class="gift-card-left">

    </div>
    <div class="gift-card-left">

    </div>
</section>



{% schema %}
    {
        "name": "Gift Card",
        "settings": [
            
        ]
        
    }
{% endschema %}